In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [8]:
df_crossing = pd.read_csv('./data/raw_data/crossings.csv')
df_sw = pd.read_csv('./data/raw_data/sidewalks.csv')

In [11]:
df_sw.head()

,Unnamed: 0,ID,curbramps,length,description,incline,surface,width,layer,elevator,indoor,opening_hours,v_coordinates,u_coordinates
0,0,1,NaN,68.25,Sidewalk W of 39TH AVE S,0.008,concrete,1.52,0,NaN,NaN,NaN,"(-122.28352768,47.55128815)","(-122.28354108,47.55190212)"
1,1,2,NaN,188.02,Sidewalk W of 49TH AVE NE,0.029,concrete,1.83,0,NaN,NaN,NaN,"(-122.27477536,47.66314498)","(-122.27480049,47.66483659)"
2,2,3,NaN,6.29,Sidewalk SW of WOODLAWN AVE NE,0.000,concrete,1.83,0,NaN,NaN,NaN,"(-122.32752623,47.68265658)","(-122.32758766,47.68269503)"
3,3,4,NaN,71.95,Sidewalk SW of WOODLAWN AVE NE,0.010,concrete,1.83,0,NaN,NaN,NaN,"(-122.32682311,47.68221655)","(-122.32752623,47.68265658)"
4,4,5,NaN,76.76,Sidewalk NE of BOYLSTON AVE,0.013,concrete,2.44,0,NaN,NaN,NaN,"(-122.32166032,47.61069436)","(-122.32112386,47.61010668)"

In [7]:
df_crossing.head()

,Unnamed: 0,ID,curbramps,length,description,incline,surface,width,layer,elevator,indoor,opening_hours,v_coordinates,u_coordinates
0,0,1,1,21.13,Crossing at 1ST AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-122.33431401,47.60182781)","(-122.33404254,47.60177833)"
1,1,2,1,20.46,Crossing at 1ST AVE S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-122.33404306,47.60163572)","(-122.3343147,47.60164708)"
2,2,3,1,20.09,Crossing at YESLER WAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-122.3343147,47.60164708)","(-122.33431401,47.60182781)"
3,3,4,1,15.85,Crossing at YESLER WAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-122.33404254,47.60177833)","(-122.33404306,47.60163572)"
4,4,5,1,20.40,Crossing at 1ST AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-122.33410269,47.60253483)","(-122.33433443,47.60243928)"