In [1]:
import geopandas as gpd
import numpy as np
import os.path

In [2]:
boundary_dir = '../data/Park Boundary.geojson'

In [3]:
boundary_df = gpd.read_file(boundary_dir)
boundary_df.head()

,name,shape_area,parksbnd_a,pma,shape_len,geometry
0,None,0,6165.400694,4463,0,(POLYGON ((-122.3778024559028 47.5404521782186...
1,12TH AVE SQUARE PARK,0,7316.172948,4467,0,(POLYGON ((-122.3162480182179 47.6071438821052...
2,14TH AVENUE NW BOAT RAMP,0,27888.351315,4010,0,(POLYGON ((-122.3738006492381 47.6613856736023...
3,17TH AVENUE NE CENTERSTRIP,0,71950.878767,4160,0,(POLYGON ((-122.309520613056 47.66650821263725...
4,3001 E MADISON,0,14679.930267,296,0,(POLYGON ((-122.2927956567879 47.6250740448180...

In [4]:
boundary_df = boundary_df.replace(to_replace='None', value=np.nan).dropna()
boundary_df.head()

,name,shape_area,parksbnd_a,pma,shape_len,geometry
1,12TH AVE SQUARE PARK,0,7316.172948,4467,0,(POLYGON ((-122.3162480182179 47.6071438821052...
2,14TH AVENUE NW BOAT RAMP,0,27888.351315,4010,0,(POLYGON ((-122.3738006492381 47.6613856736023...
3,17TH AVENUE NE CENTERSTRIP,0,71950.878767,4160,0,(POLYGON ((-122.309520613056 47.66650821263725...
4,3001 E MADISON,0,14679.930267,296,0,(POLYGON ((-122.2927956567879 47.6250740448180...
5,48TH AVE SW/SW CHARLESTOWN ST,0,14467.911693,4590,0,(POLYGON ((-122.3935596184249 47.5698550334451...

In [5]:
boundary_df['name'].apply(lambda x: x.upper())
boundary_df.head()

,name,shape_area,parksbnd_a,pma,shape_len,geometry
1,12TH AVE SQUARE PARK,0,7316.172948,4467,0,(POLYGON ((-122.3162480182179 47.6071438821052...
2,14TH AVENUE NW BOAT RAMP,0,27888.351315,4010,0,(POLYGON ((-122.3738006492381 47.6613856736023...
3,17TH AVENUE NE CENTERSTRIP,0,71950.878767,4160,0,(POLYGON ((-122.309520613056 47.66650821263725...
4,3001 E MADISON,0,14679.930267,296,0,(POLYGON ((-122.2927956567879 47.6250740448180...
5,48TH AVE SW/SW CHARLESTOWN ST,0,14467.911693,4590,0,(POLYGON ((-122.3935596184249 47.5698550334451...

In [6]:
boundary_df = boundary_df[boundary_df['name'].str.contains('PARK')]
boundary_df.head()

,name,shape_area,parksbnd_a,pma,shape_len,geometry
1,12TH AVE SQUARE PARK,0,7316.172948,4467,0,(POLYGON ((-122.3162480182179 47.6071438821052...
6,6TH AVENUE NW POCKET PARK,0,9006.612569,3158,0,(POLYGON ((-122.3634527097912 47.6843669164890...
8,A. B. ERNST PARK,0,11546.519529,4404,0,(POLYGON ((-122.348654185465 47.65023051082457...
10,ALBERT DAVIS PARK,0,58459.982889,244,0,(POLYGON ((-122.2984079350166 47.7206142912442...
14,CARKEEK PARK,0,7763863.962375,240,0,(POLYGON ((-122.3715039366772 47.7123967271094...

In [7]:
boundary_df.to_file('C:/Users/xiegudong45/Desktop/CSE495/City-scale-Analytics/Shenghao/data/park_only_boundary1.geojson', driver='GeoJSON')